.splide{
    height: 300px;
    min-width: 250px;
    max-width: 400px;    
}

.splide__slide{
    width: 50%;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splide__arrow svg,
.splide__arrow{
 transform: none;
 width: 18px;
 color: var(--primary);
}


.splide__arrow svg{
    fill: var(--primary);
}

.splide__pagination__page.is-active,
.splide__pagination__page,
.splide__pagination__page:hover{
    background: var(--primary);
}

{
    background: var(--primary);
}

@media (min-width: 750){
    .splide{ 
      /* flex-basis: 50%;
       flex-grow: 1;
       flex-shrink: 1;*/
    }
}